:root {
    --font-color: #d2d2d7;
    --font-color-hover: #f5f5f5;
    --background: #515154;
    --background-hover: #3f3f41;
    --background-color: #F5F5F7;
    --mr-top-3: 3rem;
    --mr-bot-2: 2rem;
    --font-color-product-name: #1d1d1f;
    --font-color-product-price: #0066cc;

}

html {
    font-size: 62.5%;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* Header start */
.header {
    width: 100%;
    height: 6rem;
    background-color:var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container {
    width: 120rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head {
    color: var(--font-color);
    fill: var(--font-color);
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-logo {
    
}
.header-main {
    margin-left: -20px;
}
.header-search {
    width: 7rem;
    justify-content: center;
}

.ul-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon > i {
    display: block;
}
.icon-search {
    width: 3.5rem;    
}
.icon-cart {
    width: 3.5rem;
    position: relative;
}

.item-count {
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--font-color );
    top: .8rem;
    right: -.1rem;
    background-color: aliceblue;
    color: rgb(20, 20, 19);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-item {
    display: block;
    padding: 2.2rem 2.5rem;
}

.li-item:hover {
    color: var(--font-color-hover);
    background-color: var(--background-hover);
    transition: 1s;
}
.header-search > span:hover {
    color: var(--font-color-hover);
    /* background-color: var(--background-hover); */
    transition: 1s;
}
/* Main */
#main {
    display: flex;
    flex-direction: column;
}

/* Slider start */
.slider {
    min-height: 50rem;
    background-color: var(--background-color);
    margin-bottom: 3rem;
    width: 100%;
}
.carousel-item > img {
    display: block;
    width: 100%;
    min-height: 50rem;
    max-height: 70rem;
    object-fit: cover;
}
.carousel-item {
    font-size: 2rem;
    color: aquamarine;
}

/* Main Start */
#main {
    background-color: var(--background-color);
    /* background-color: red; */
    width: 100vw;
    min-height: 100vh;
}

/* Banner */
.banner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-image {
    /* width: 33%; */
    height: auto;
}

.banner-image > img {
    display: block;
    max-width: 100%;
}

.product {
    margin-top: var(--mr-top-3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elementor-container {
    margin-top: var(--mr-top-3);
    width: 120rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
}

.product-header {
    color: #1d1d1f;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--mr-bot-2);
}

.group-product {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    margin-bottom: var(--mr-bot-2);
    width: 100%;
    height: 40rem;
}

.product-item {
    height: 100%;
    background-color: #ffffff;   
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
    /* padding: -10rem; */
    /* margin-left: -5rem; */
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.product-image > img {
    max-width: 100%;
    margin-top: -1rem;
}
.product-name {
    padding-left: 2rem;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--font-color-product-name);
    flex: 1;
}
.product-price {
    padding-left: 2rem;
    flex: 1;
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--font-color-product-price);
}

.product-moreDetail {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-show_more {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-color: var(--font-color-product-price);
    border-radius: 1rem;
    font-size: 1.6rem;
    color: var(--font-color-product-price);
}

.btn-show_more:hover {
    background-color: var(--font-color-product-price);
    color: var(--font-color-hover);
    /* border-color: var(--font-color-hover); */
    transition: .3s;
}




